<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">	<!--by using getSuite() id variable comes into suite level <test> inside <suite> so this xml also will work-->
  <test thread-count="5" name="Test">
    <classes>	<!-- it will execute in Alphabatical order of Method Names-->
    
      <!--maintan this order : create - get - update - delete-->
      <!--we have execute in one run bcz these all are internally connected other wise we cant able to use id valu to other classes -->
      <!--addition to above reason setAttribute() is available only with in the <test> level not <suite> level-->
      
      <class name="E08_API_Chaining.E08a_CreateUser"/>	
      <class name="E08_API_Chaining.E08b_GetUser"/>
      <class name="E08_API_Chaining.E08c_updateUser"/>
      <class name="E08_API_Chaining.E08d_DeleteUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
